<div class="row">
    <div class="col-md-4">
      <img src="{{image}}" class="center-block">
    </div>
    <div class="col-md-8">
        <div class="well">
            {{question}}
        </div>
        {{textarea value=answer class="form-control" rows=6 placeholder='Answer me'}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a {{action 'onAnswerSubmit'}} class="btn btn-primary pull-right">Next <i class="glyphicon glyphicon-arrow-right"></i></a>
    </div>
</div>