<div class="container">
    <div class="page-header">
        <h1>IWA - <small>Interview Wizard Application</small></h1>
    </div>
    {{outlet}}
    <div class="footer">
        <small>Copyright 2016</small>
    </div>
</div>
