<div class="row">
    <div class="col-md-4">
        <img class="center-block" src="https://turbotax.intuit.com/experiences/rtb-pods/images/icon-max-refund-retina.87850afd.png">
    </div>
    <div class="col-md-8">
        <p>
          {{moment-from-now date interval=1000}} - Molestiae fuga sed sed expedita iste. Consequatur et aliquam non repellat similique mollitia vitae provident. Delectus beatae ut ea debitis aliquam tenetur. Accusantium corporis debitis minus consequatur provident. Necessitatibus nihil quis eum ut et officiis ea debitis. Mollitia id laboriosam mollitia alias omnis.Molestiae fuga sed sed expedita iste. Consequatur et aliquam non repellat similique mollitia vitae provident. Delectus beatae ut ea debitis aliquam tenetur. Accusantium corporis debitis minus consequatur provident. Necessitatibus nihil quis eum ut et officiis ea debitis. Mollitia id laboriosam mollitia alias omnis.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      {{#link-to "wizard" class="btn btn-primary pull-right"}}Go to Wizard! <i class="glyphicon glyphicon-chevron-right"></i>{{/link-to}}
    </div>
</div>
